:root {
    --main-color: #2F303A;
    --blue-color: #2196F3;
    --black-color: #212121;
    --white-color: #FFFFFF;
    --gray-color: #757575;
    --green-color:  #148955;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    text-decoration: none;
}

body{
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    background-color:var(--white-color);
    color: var(--black-color);

}

.container {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: space-between;
}

.container_link li{
    display: inline-block;
    margin-top:  32px;
    justify-content: space-between;
}

.header_navigation{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header_navigation .item{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.header_navigation .link:hover{
	text-decoration: underline;
    border-bottom: var(--blue-color);
    border-bottom: 4px;
}

.header_navigation .title-text1:hover{
	text-decoration: underline;
    border-bottom: var(--blue-color);
    border-bottom: 4px;
}

.header_contact:hover * {
    fill: var(--blue-color);
    color: var(--blue-color);
    border-bottom: var(--blue-color);
    border-bottom: 4px;
}

.header_contact{
    margin-left: 50px;

}

.email {
    margin-right: 10px;
}

#bg {
    display: flex;
    height: 600px;
    width: 100%;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(47, 48, 58, 0.4);

    background-image: url(".././images/background.jpg");
}

.Logo{
    color: var(--blue-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;
    margin-bottom: 25px;
    margin-top: 24px;
    text-decoration: none;
}

.link{
	color: var(--black-color);
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 32px;
}

.link:hover *{
	color: var(--blue-color);
    border-bottom: var(--blue-color);
    border-bottom: 4px;
}

.link:active *{
	color: var(--green-color);
    border-bottom: var(--blue-color);
    border-bottom: 4px;
}

.header_item:hover *{
  color: var(--blue-color);
  border-bottom: var(--blue-color);
  border-bottom: 4px;
}

.header_item:active *{
  color: var(--blue-color);
    border-bottom: var(--blue-color);
    border-bottom: 4px;
}

.item {
    display: inline-block;
   padding-top: 32px;
   padding-left: 23px;

}

.button2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    width: 261px;
    height: 50px;
    display: flex;
    padding-left: 32px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;

    background: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.container-img{
    width: 373px;
    height: 323px;
}

.container2{

    width: 100%;
    height: 708px;
    background-color: #F5F4FA;
    display: inline-block;
    justify-content: center;

}

.equipment li{
    display: flex;
    display: inline-block;
}

.equipment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 94px;
}

.card:nth-child(1){
    margin-right: 30px;
}

.card:nth-child(2){
    margin-right: 30px;
}

.card:nth-child(3){
    margin-right: 30px;
}

.card {
    display: inline-block;
    width: 270px;
    height: 428px;
    justify-content: center;
    overflow: hidden;
	background:#FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card .contents-card{
    padding: 30px;
	text-align: center;
    flex-wrap: wrap;
}

.redes {
    fill: var(--gray-color);
    background-color: #FFFFFF;
    border-radius: 50%;
}

.redes:hover, .redes:focus{
    background-color: var(--blue-color);
    fill: var(--white-color);
}

.redes-footer {
    fill: var(--white-color);
    background-color:rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
}

.redes-footer:hover, .redes-footer:focus {
    background-color: var(--blue-color);
    fill: var(--white-color);
}

.container-img1{
    width: 270px;
    height: 260px;

}

.portfolio{
    max-width: 1200px;
    margin: 0 auto;
}

.seccion{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
}

#buttons-center{
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-top: 106px;
    margin-bottom: 50px;
    border: none;
}

#container{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    flex-wrap: wrap;
    display: flex;
}

.title-text1{
    color:  var(--gray-color);
}

.title-text1:hover{
	color: var(--blue-color);
}

.title-text1:active{
	color: var(--green-color);
}

.button {
    height: 38px;
    width: 128px;
    border-radius: 4px;
    left: calc(50% - 128px/2 - 160px);
    top: calc(50% - 38px/2 - 735px);
    cursor: pointer;

    background: #F5F4FA;
    color: var(--black-color);
}

.button:hover{
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

p {
    color: var(--gray-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-right: 30px;
    width: 270px;
}

h1 {
    color: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
}

h2 {
    color: var(--black-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 94px;
    margin-bottom: 55px;
}

h3 {
    color:var(--black-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h4 {
    color: var(--blue-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.card-2{
    width: 370px;
    height: 420px;
    margin-bottom: 30px;
	  background:#FFFFFF;
	  border-radius: 0px 0px 4px 4px;
    border: 1px solid #EEEEEE;
}

.card .contents-card{
    padding: 30px;
	text-align: justify;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-2 .contents-card2{
    padding: 20px;
	text-align: justify;
}

.card-2:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.image-card:hover .card-hover {
  transform: translateY(0%);
}

.card-hover {
  padding: 63px 24px;
  top: 0;
  left: 0;
  position: absolute;
  color: var(--white-color);
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);;
  letter-spacing: 0.03em;
  transform: translateY(105%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-card {
  overflow: hidden;
  position: relative;
}

.text {
  margin-top: 82px;
}

.title-text{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    padding-left: -300px;

}

.title-text:hover{
    color: var(--blue-color);
}

.title-text:active{
    color: var(--green-color);
}

.container .customers{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    background: var(--white-color);
}

.svgs {
    fill: var(--gray-color);
    background-color: #FFFFFF;
    border-radius: 50%;
    border: var(--gray-color);
    border-radius: 4px;
    width: 170px;
    height: 81px;
    box-sizing: border-box;
    border: 1px solid var(--gray-color);
}

.svgs:hover, .svgs:focus {
    fill: var(--blue-color);
    background-color: #FFFFFF;
    border-radius: 50%;
    border: var(--blue-color);
    border-radius: 4px;
    width: 170px;
    height: 81px;
    box-sizing: border-box;
    border: 1px solid var(--blue-color);
}

.customers > .svgs:not(:last-child) {
    margin-right: 30px;
}

footer {
    height: 252px;
    width: 100%;
    margin-top: 151px;
    display: flex;
    flex-wrap: wrap;
    background: var(--main-color);
}

.container_footer {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 auto;
    align-content: center;
}

.information {
    display: inline;
    margin-right: 70px;
}

/* h3 del portafolio (second-pages)*/
.second-pages {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--black-color);
}

.parent-box {
    position: relative;
}

.box{
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 374px;
    height: 70px;
    bottom: 0%;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.h3-box {
    color: var(--white-color);
    letter-spacing: 0.03em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contents {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

/*ventanas modal*/
.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.exit_modal{
  position: absolute;
  right: 10px;
  top: 17px;
}
